body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    gap: 10px;
    margin: 0px;
}
#top{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 10px;
}

select{
    width: 200px;
    height: 40px;
}

img{
    position: relative;
    width: 50%;
    height: 30%;
}

#background{
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cool{
    background-color: rgba(92, 122, 151, 0.712);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70vh;
    width: 80vw;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 1vw;
    padding-right: 5w;
}

#cool > * {
    width: calc(12.5% - 30px); /* Default width for 8 items per row */
}




#CountryCity{
  margin-top: 5px;
  font-size: 4vh;
  margin-top: 0px;
  margin-bottom: 0px;
}

#ho{
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items:center ;
    height:min-content;
    
}

h3{
    color: aliceblue;
    font-size: 2vh;
    margin-top: 0px;
}

h2 {
    font-size: 5vh;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.glitch {
  position: fixed; /* Position fixed to keep it centered relative to the viewport */
  top: 50%; /* Start at 50% from the top */
  left: 45%; /* Start at 45% from the left */
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translate(-3px, 3px);
  }
  40% {
      transform: translate(-3px, -3px);
  }
  60% {
      transform: translate(3px, 3px);
  }
  80% {
      transform: translate(3px, -3px);
  }
  100% {
      transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
  }
  41% {
      transform: skewX(10deg);
  }
  42% {
      transform: skewX(-10deg);
  }
  59% {
      transform: skewX(40deg) skewY(10deg);
  }
  60% {
      transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
      transform: skewX(10deg) skewY(-5deg);
  }
  70% {
      transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
      transform: skewX(10deg) skewY(-10deg);
  }
}



@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(-200px); /* Start above the container */
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(400px); /* Move slightly beyond the container */
  }
}


.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height:200px;
  overflow:hidden;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}


@media screen and (max-width: 1000px) {
  .glitch {
      transform: translate(-60vw, 0px); /* Move back by 50% of its own width and height */
  }
  #cool > * {
      width: calc(25% - 30px); /* Adjusted width for 4 items per row on smaller screens */
  }
  select {
      width: 100px;
      height: 40px;
  }
  h1 {
      font-size: large;
      text-align: center;
  }
  #CountryCity {
      font-size: larger;
  }
  h3 {
      font-size: 2vw;
  }
  h2 {
      font-size: 3.5vw;
  }
  #snowqu{
    visibility: hidden;
  }
  #snow{
    display: none;
  }
}